.description_text {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: brown;
}

.partnership_text {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: brown;
}

.gigachad {
    margin-top: 15px;
    width: 100%;
}